@import url("../globalSettings/styles.css");

/*/////////////////////////////////////////
//         design global                //
///////////////////////////////////////*/
.container {
    gap: 30px;
    padding: 0 30px 50px 30px;
}

.section{
    border-radius: 10px;
    box-shadow: var(--shadow-all-around) rgba(var(--couleur-secondaire), 0.5);
    min-width: var(--longuer-min);
}
.title-section{
    color: rgba(var(--couleur-principale), 1);
    width: 100%;
    border-bottom: 2px solid rgba(var(--couleur-secondaire), 0.2);
    padding: 10px;
}
.plus-service,
.plus-avis{
    margin: 0 0 10px 20px;
}
/*/////////////////////////////////////////
//         section hero                 //
///////////////////////////////////////*/
.hero{
 align-items: center;
 justify-content: flex-start;
 gap: 30px;
 padding: 10px 0 0 20px;
 margin-top: 10px;
 padding-bottom: 10px;
}
.hero-info{
    gap: 10px;
}

.hero-profession{
    gap: 5px;
    font-weight: 700;
    color: rgba(var(--couleur-secondaire), 1);
}
.hero-profession div,
.hero-profession p{
    border-left: solid 2px rgba(var(--couleur-secondaire), 0.8);
    padding-left: 5px;
}
.name{
    font-size: var(--text-principal);
    font-weight: 700;
}
.pseudo{
    font-weight: bold;
    font-size: var(--text-secondaire);
    color: rgba(var(--couleur-secondaire), 0.6);
}
.hero-photo{
    max-width: 150px;
}
.hero-review{
    padding-bottom: 5px;
    border-bottom: solid 2px rgba(var(--couleur-principale), 1);
    gap: 20px;
    font-weight: 600;
    color: rgba(var(--couleur-secondaire), 1);
    justify-content: flex-start;
}
.hero-since{
    color: rgba(var(--couleur-principale), 1);
    font-weight: 500;
}
.hero-action{
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.note{
    font-weight: 600;
}
.avis{
    font-weight: 500;
    color: rgba(var(--couleur-principale), 0.9);
}
/*/////////////avis///////////////////*/ 
.all-avis{
    margin: 20px;
    gap: 10px;
}
.avis-personel{
    border: 1px solid rgba(var(--couleur-secondaire), 0.5);
    padding: 15px;
    border-radius: 10px;
}
.avis-profil-container{
    max-width: 50px;
}
.avis-content{
    margin: 5px 0 5px 0;
}
.avis-infos{
    gap: 10px;
    font-weight: 600;
}
.avis-meta{
    width: 100%;
    justify-content: space-between;
    font-size: var(--text-terciaire);
    font-weight: 700;
    color: rgba(var(--couleur-secondaire), 0.8);
}
.avis-review{
    align-items: center;
    justify-content: flex-start;
}
/*////////////services////////////////*/
.service{
    border: 1px solid rgba(var(--couleur-secondaire), 0.5);
    padding: 5px;
    border-radius: 7px;
}
.service-img{
    width: 300px;
    aspect-ratio: 16 / 9;
    border-radius: 7px;
    margin-bottom: 10px;
}
.service-title{
    font-size: var(--text-principal);
    font-weight: bold;
}
.service-note{
    font-size: var(--text-principal);
}
.service-review{
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    
}
.all-services{
    margin: 20px 0 20px 20px;
    gap: 20px;
}
/*////////////portfolio////////////////*/
.portfolio{

}

.about-textContent{
    border: 1px solid rgba(121, 116, 116, 0.4);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    font-weight: 400;
    margin: 10px 20px 10px 20px;
}
.about-languages p,
.about-skills p{
    font-size: var(--text-principal);
    font-weight: bold;
}
.about-languages,
.about-skills{
    margin: 0 0 10px 20px;
}

.about-languages-list,
.about-skills-list{
    margin: 5px 0 0 40px;
}


/*responsive design*/

@media screen and (max-width: 730px){
    :root{
        --text-principal: 20px;
        --text-secondaire: 13px;
        --text-terciaire: 7px;
    }
    svg{
        width: 20px;
        height: 20px;
    }
    .container{
        padding: 10px;
    }
    .hero{
        align-items: center;
        justify-content: center;
    }
    .section{
        
    }

}