/*css de la messagerie*/
/* import du style de la page de profil */
/*@import url('/profil/styles.css');*/

:root {
  /*couleur*/
  --couleur-principale: 25, 177, 228;
  --couleur-secondaire: rgb(121, 116, 116);
  --couleur-terciaire: rgb(5, 53, 77);
  
  /*ombre*/
  --shadow-all-around: 0 0 5px;
  --shadow-bottom: 0 5px 10px -5px;
 
  /*tailles de polices */
  --text-principal: 22px;
  --text-secondaire: 16px;
  --text-terciaire: 11px;

  /*longueur */
  --longuer-min: 300px;
}

/*//////////////////////////////////////
//     style global de la page       //
////////////////////////////////////*/

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
button{
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  min-width: 140px;
  transition: 0.5s;
  font-size: var(--text-secondaire);
}
main{
   display: flex;
    justify-content: center;
    align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5px 5px 20px 5px;
}
svg {
  width: 25px;
  height: 25px;
  color: rgba(var(--couleur-principale), 1);
  stroke-width: 2.2px;
}
img{
    width: 100%;
    height: 100%;
}

.btn-good{
  background: transparent;
  border:2px solid  rgba(var(--couleur-principale), 1);
  color: rgba(var(--couleur-principale), 1);
}
.btn-good:hover{
  background-color: rgba(var(--couleur-principale), 1);
  color: white;
}
.btn-bad{
  background-color: transparent;
  color: var(--couleur-secondaire);
  border: 2px solid var(--couleur-secondaire);
}
.btn-bad:hover{
  background: var(--couleur-secondaire);
  color: white;
}
.section-container{
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-all-around) var(--couleur-secondaire);
  min-width: var(--longuer-min);
  max-width: 900px;
}
.section-container:hover{
  box-shadow: var(--shadow-all-around) rgba(var(--couleur-principale), 1);
  transition: 0.3s;
  cursor: pointerdefault;
  transform: translateY(-3px);
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.ligne{
  width: 100%;
  gap: 10px;
  position: relative;
  height: auto;
  align-self: stretch;
  padding: 0 10px 0 10px;
}
.entete-section{
    width: 100%;
    border-bottom: 1px solid rgba(var(--couleur-principale), 0.3);
    box-shadow: var(--shadow-bottom) rgba(var(--couleur-principale), 0.3);
    color: rgba(var(--couleur-principale), 1);
    font-size: var(--text-principal);
}
.profil{
    border: 1px solid rgba(var(--couleur-principale), 1);
    box-shadow: var(--shadow-all-around) rgba(var(--couleur-principale), 1);
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    height: auto;
}

/*//////////////////////////////////////
//  design de la section contact     //
////////////////////////////////////*/
.section-contact{
    height: 100%;
    width: 100%;
}
.contact-title{
    font-size: var(--text-principal);
    font-weight: bold;
    color: rgba(var(--couleur-principale), 1);
    margin-bottom: 20px;
}
.contact-list{
    gap: 10px;
}
.contact-photo{
    max-width: 50px;
    min-width: 40px;
}
.contact-particulier{
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.contact-particulier:hover{
    background-color: rgba(var(--couleur-principale), 0.1);
    cursor: pointer;
}
.contact-info{
    width: 100%;
    padding-right: 10px;
    font-size: var(--text-secondaire);
    color: var(--couleur-secondaire);
    font-weight: 400;
}
.nom-date{
    justify-content:  space-between;
    width: 100%;
}
.contact-nom{
    font-weight: bold;
    color: rgba(var(--couleur-principale), 1);
}
.contact-date{
    font-size: var(--text-terciaire);
}
.contact-message{
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    text-overflow: ellipsis;
    font-size: var(--text-terciaire);
}

/*//////////////////////////////////////
// design de la section chat         //
////////////////////////////////////*/

.section-chat{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.chat-header{
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background:rgba(var(--couleur-principale), 0.1);
    padding: 5px 10px 5px 10px;
}
.chat-header-info{
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.chat-close{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.chat-close:hover{
    background-color: white;
}
.chat-input{
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
}
#message-input{
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;;
    border: none;
    outline: none;
    box-shadow: var(--shadow-all-around) var(--couleur-secondaire);
    background-color: rgba(var(--couleur-principale), 0.05);
    overflow-y: auto;
}
.send-message{
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(var(--couleur-principale), 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  screen and (max-width: 730px) {
    main{
        padding: none;
    }
    #message-input{
        max-width: 300px;
        width: 100%;
    }
    .section-container{
        box-shadow: none;
    }
}
