
.etoile svg,
.demi_etoile svg {
  color: rgba(255, 215, 0, 1);
  fill: rgba(255, 215, 0, 1);
  width: 24px;
  height: 24px;
  overflow: visible;
}

.etoile, .demi_etoile {
  display: inline-flex;
  width: 10px;
  height: 10px;
}

.etoiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
}
