/*creation des variable root pour le design global de la page*/
:root {
  /*couleur*/
  --couleur-principale: 25, 177, 228;
  --couleur-secondaire: 121, 116, 116;
  --couleur-terciaire: rgb(5, 53, 77);
  
  /*ombre*/
  --shadow-all-around: 0 0 5px;
  --shadow-bottom: 0 5px 10px -5px;
 
  /*tailles de polices */
  --text-principal: 22px;
  --text-secondaire: 16px;
  --text-terciaire: 11px;

  /*longueur */
  --longuer-min: 300px;
}

/*/////////////////////////////////////////////
//            desing global de la page      //
///////////////////////////////////////////*/
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
button{
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  min-width: 140px;
  transition: 0.5s;
  font-size: var(--text-secondaire);
}
main{
  width: 100%;
  gap: 10px;
}
svg {
  width: 25px;
  height: 25px;
  color: rgba(var(--couleur-principale), 1);
  stroke-width: 2.2px;
}
img{
    width: 100%;
    height: 100%;
}
.svg-profil svg{
    width: 20px;
}
.btn-good{
  background: transparent;
  border:2px solid  rgba(var(--couleur-principale), 1);
  color: rgba(var(--couleur-principale), 1);
}
.btn-good:hover{
  background-color: rgba(var(--couleur-principale), 1);
  color: white;
}
.btn-bad{
  background-color: transparent;
  color: rgba(var(--couleur-secondaire), 1);
  border: 2px solid rgba(var(--couleur-secondaire), 1);
}
.btn-bad:hover{
  background: rgba(var(--couleur-secondaire), 1);
  color: white;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
}

.profil{
    border: 1px solid rgba(var(--couleur-principale), 1);
    box-shadow: var(--shadow-all-around) rgba(var(--couleur-principale), 1);
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    height: auto;
}

.menu{
    width: 40px; 
    aspect-ratio: 1 /1; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu:active{
    border-radius: 50%;
    background: rgba(var(--couleur-principale), 0.3);
}
menu-list{
    display: none;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-all-around) rgba(var(--couleur-secondaire), 1);
    z-index: 1000;
    right: 5px;
    top: 40px;
    background: white;
    animation: list-menu-animation 0.3s;
    overflow: hidden;
    height: 200px;
}
.menu-list li{
    list-style: none;
    color: rgba(var(--couleur-secondaire), 1);
    font-weight: bold;
    font-size: var(--text-secondaire);
}

.modal{
	justify-content: space-between;
	align-items: center;
	box-shadow: var(--shadow-all-around) rgba(var(--couleur-secondaire), 1);
	margin: 10px auto 10px auto;
	padding: 10px;
	border-radius: 10px;
	z-index: 1000;
	position: fixed;
	top : 0px;
	right: 50%;
	backdrop-filter: blur(20px);
	transform: translateX(50%);
	animation: modal_animation ease 1s;
	min-width: 350px;
	gap: 30px;
}
.modal-text{
	margin: auto;
	width: 100%;
	text-align: center;
}
.modal-actions{
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
}
@keyframes modal_animation{
	0% {
		top: -150px;
	}
	100% {
		top: 0;
	}
}

.default {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgba(var(--couleur-principale), 1);
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}